* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: #282828; }

html {
  font: 16px/1.25 sans-serif; }

body {
  background-color: #f8f8f8; }

.organization-container table thead tr > th {
  cursor: pointer; }

.organization-container table thead tr > th:first-child {
  width: 40%; }

.organization-container table thead tr > th:nth-child(n+2) {
  width: 15%; }

.organization-container table tr {
  background-color: #fff; }

.loader {
  display: inline-block;
  font-size: 2rem;
  color: #ff3800;
  -webkit-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite; }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  to {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

.pagination-component .page-item:not(.active) {
  cursor: pointer; }


